= render 'projects/settings/head'

.row.prepend-top-default
  .col-lg-3
    %h4.prepend-top-0
      = page_title
    %p
      #{link_to 'Webhooks', help_page_path('user/project/integrations/webhooks')} can be
      used for binding events when something is happening within the project.
  .col-lg-9.append-bottom-default
    = form_for [@project.namespace.becomes(Namespace), @project, @hook], as: :hook, url: namespace_project_hook_path do |f|
      = render partial: 'shared/web_hooks/form', locals: { form: f, hook: @hook }
      = f.submit 'Save changes', class: 'btn btn-create'
